a {
    text-decoration: none;
    color: inherit;
}

.table td, th {
    text-align: center;
} 

.controle-card {
    cursor: pointer;
    transition: 0.5s;
}

.controle-card:hover {
    background-color: white !important;
    color: black !important;
    transition: 0.5s;
    background-position: left bottom;
}